@using AtomicSeller.Helpers
@using AtomicSeller.Helpers.Navigation
@using AtomicSeller.Helpers.Razor
@using AtomicSeller.Helpers.Razor.HtmlExtensions
@using AtomicSeller.Resources

@{
    ViewBag.Title = Local.TranslatedMessage("MITFAFquickProcessToolStripMenuItem");
    ViewBag.ShowH2 = false;
    ViewBag.PageCol = HtmlConsts.Dimens.DefaultPageCol;
    ViewBag.PageColOffset = HtmlConsts.Dimens.DefaultPageColOffset;
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.PanelWrap("AtomicSeller"))
        {
        <div class="panel-body">
            <p>Welcome</p>


            <a href="@Url.Action("PutTrackingNumber", "Home")"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="Put TrackingNumber">
                <i class="mdi mdi-file-pdf-box"></i>Put Tracking Number
            </a>


            <a href="@Url.Action("GetLabel", "Home")"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="Put Status">
                <i class="mdi mdi-file-pdf-box"></i>Get Label
            </a>

        </div>
        }
    </div>
</div>