@charset "UTF-8";
/**
 * AtomicSeller - Interface Client
 * Authentification
 */
/**
 * AtomicSeller - Interface Client
 * Variables SCSS
 */
.primary-color--background-color, .btn.btn-secondary-outline:hover, .btn.btn-secondary-outline:active, .btn.btn-secondary-outline:active:hover, .panel.panel-primary .panel-heading {
  background-color: #0083C0; }

.primary-color--background-color--darken-10, .btn.btn-secondary-outline:hover:active, .btn.btn-secondary-outline:active:hover {
  background-color: #00608d; }

.primary-color--border-color, .btn.btn-secondary-outline {
  border-color: #0083C0; }

.primary-color--color, .btn.btn-secondary-outline, ul.material-list-variant li a:hover, ul.material-list-variant li a.active {
  color: #0083C0; }

body[data-primary-color="#0083C0"] .primary-color--background-color, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline:hover, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline:active, body[data-primary-color="#0083C0"] .panel.panel-primary .panel-heading, .panel.panel-primary body[data-primary-color="#0083C0"] .panel-heading {
  background-color: #0083C0; }

body[data-primary-color="#0083C0"] .primary-color--background-color--darken-10, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline:active:hover {
  background-color: #00608d; }

body[data-primary-color="#0083C0"] .primary-color--border-color, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline {
  border-color: #0083C0; }

body[data-primary-color="#0083C0"] .primary-color--color, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline, body[data-primary-color="#0083C0"] ul.material-list-variant li a:hover, ul.material-list-variant li body[data-primary-color="#0083C0"] a:hover, body[data-primary-color="#0083C0"] ul.material-list-variant li a.active, ul.material-list-variant li body[data-primary-color="#0083C0"] a.active {
  color: #0083C0; }

body[data-primary-color="#0083C0"] .primary-color--background-color, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline:hover, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline:active, body[data-primary-color="#0083C0"] .panel.panel-primary .panel-heading, .panel.panel-primary body[data-primary-color="#0083C0"] .panel-heading {
  background-color: #0083C0; }

body[data-primary-color="#0083C0"] .primary-color--background-color--darken-10, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline:active:hover {
  background-color: #00608d; }

body[data-primary-color="#0083C0"] .primary-color--border-color, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline {
  border-color: #0083C0; }

body[data-primary-color="#0083C0"] .primary-color--color, body[data-primary-color="#0083C0"] .btn.btn-secondary-outline, body[data-primary-color="#0083C0"] ul.material-list-variant li a:hover, ul.material-list-variant li body[data-primary-color="#0083C0"] a:hover, body[data-primary-color="#0083C0"] ul.material-list-variant li a.active, ul.material-list-variant li body[data-primary-color="#0083C0"] a.active {
  color: #0083C0; }

/**
 * MaterialDesignIcons-SCSS-Variables
 * https://github.com/chteuchteu/MaterialDesignIcons-SCSS-Variables
 */
.mdi, .validation-summary-errors ul li:before, .panel.panel-primary.panel-togglable .panel-heading:before, .panel.panel-primary.panel-togglable.panel-togglable-closed .panel-heading:before, .form-group.required label:after {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/**
 * MaterialDesignIcons-SCSS-Variables
 * https://github.com/chteuchteu/MaterialDesignIcons-SCSS-Variables
 *
 * MaterialDesignIcons v1.6.50
 */
/**
 * AtomicSeller - Interface Client
 * UI
 */
html, body {
  height: 100%; }

body {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif; }

.elevation-medium, .pagination-wrap .pagination > .active > span:hover, .pagination-wrap .pagination > .active > span:focus, .pagination-wrap .pagination > .active > a:hover, .pagination-wrap .pagination > .active > a:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }

.elevation-high, .modal-content {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }

.elevation-low, .card, .content-text, .content-wrap .content, .panel.panel-primary, .pagination-wrap .pagination > .active > span, .pagination-wrap .pagination > .active > a, .bs-callout {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }

.elevation-none, .card.card--transparent, .card--transparent.content-text, .content-wrap .card--transparent.content {
  box-shadow: none; }

.inner-shadow, .panel.panel-primary .panel-body {
  box-shadow: inset 0 3px 3px -2px rgba(0, 0, 0, 0.2); }

.inner-shadow-medium {
  box-shadow: inset 0 6px 6px -4px rgba(0, 0, 0, 0.2); }

hr {
  margin: 8px 0; }

.form-control {
  width: 100%;
  max-width: 450px;
  padding: .375rem .75rem;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: none;
  border-radius: 1px !important; }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 3px 9px -4px rgba(102, 175, 233, 0.6); }
  .form-control:invalid {
    border-color: #D11318 !important;
    color: #D11318 !important; }

button, .btn {
  width: auto;
  border-radius: 1px; }

.control-label {
  font-weight: normal; }

.control-value input[type="checkbox"] {
  margin-top: 10px; }

label.control-label {
  opacity: 0.7;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  transition-duration: 200ms; }

.form-group:hover label.control-label, label.control-label:hover {
  opacity: 1; }

.input-group .form-control {
  max-width: 100%; }

.input-group-addon {
  border-radius: 1px;
  background-image: none; }
  .input-group-addon.bg-info {
    background-color: rgba(0, 67, 145, 0.2);
    border: 1px solid rgba(0, 67, 145, 0.4);
    color: #004391; }
    .input-group-addon.bg-info:last-child {
      border-left: 0; }
  .input-group-addon.bg-warning {
    background-color: rgba(241, 120, 22, 0.2);
    border: 1px solid rgba(241, 120, 22, 0.4);
    color: #F17816; }
    .input-group-addon.bg-warning:last-child {
      border-left: 0; }
  .input-group-addon.bg-success {
    background-color: rgba(76, 175, 80, 0.2);
    border: 1px solid rgba(76, 175, 80, 0.4);
    color: #4CAF50; }
    .input-group-addon.bg-success:last-child {
      border-left: 0; }
  .input-group-addon.bg-danger {
    background-color: rgba(209, 19, 24, 0.2);
    border: 1px solid rgba(209, 19, 24, 0.4);
    color: #D11318; }
    .input-group-addon.bg-danger:last-child {
      border-left: 0; }
  .input-group-addon i.mdi, .input-group-addon .panel.panel-primary.panel-togglable i.panel-heading:before, .panel.panel-primary.panel-togglable .input-group-addon i.panel-heading:before {
    font-size: 24px;
    margin: -5px;
    vertical-align: middle; }

.btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  background-image: none;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  transition-duration: 150ms;
  box-shadow: none; }
  .btn:hover, .btn:active, .btn:focus, .btn:active:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none; }
  .btn.btn-secondary-outline {
    background-color: transparent;
    text-shadow: none; }
    .btn.btn-secondary-outline:hover, .btn.btn-secondary-outline:active, .btn.btn-secondary-outline:active:hover {
      color: #fff !important;
      border-color: rgba(0, 0, 0, 0.1); }
  .btn.btn-primary {
    background-color: #616161; }
    .btn.btn-primary:hover {
      background-color: #545454; }
    .btn.btn-primary:active {
      background-color: #484848; }
  .btn.btn-info {
    background-color: #004391; }
    .btn.btn-info:hover {
      background-color: #003778; }
    .btn.btn-info:active {
      background-color: #002b5e; }
  .btn.btn-warning {
    background-color: #F8B900; }
    .btn.btn-warning:hover {
      background-color: #dfa600; }
    .btn.btn-warning:active {
      background-color: #c59300; }
  .btn.btn-danger {
    background-color: #D11318; }
    .btn.btn-danger:hover {
      background-color: #ba1115; }
    .btn.btn-danger:active {
      background-color: #a20f13; }
  .btn i.mdi, .btn .panel.panel-primary.panel-togglable i.panel-heading:before, .panel.panel-primary.panel-togglable .btn i.panel-heading:before {
    line-height: 21px; }
    .btn i.mdi.position-left, .btn .panel.panel-primary.panel-togglable i.position-left.panel-heading:before, .panel.panel-primary.panel-togglable .btn i.position-left.panel-heading:before {
      float: left;
      margin-right: 5px; }
    .btn i.mdi.position-right, .btn .panel.panel-primary.panel-togglable i.position-right.panel-heading:before, .panel.panel-primary.panel-togglable .btn i.position-right.panel-heading:before {
      float: right;
      margin-left: 5px; }
  .btn.btn-xs i.mdi, .btn.btn-xs .panel.panel-primary.panel-togglable i.panel-heading:before, .panel.panel-primary.panel-togglable .btn.btn-xs i.panel-heading:before {
    font-size: 19px;
    vertical-align: middle;
    margin-left: -3px;
    margin-right: -3px; }
  .btn.btn-round {
    text-align: center;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px; }
    .btn.btn-round.btn-lg {
      width: 40px;
      height: 40px;
      font-size: 24px;
      padding: 0;
      line-height: 40px; }

.form-group-sm .btn {
  padding: 3px 8px; }

.alert, .validation-summary-errors ul li {
  border-radius: 2px;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  -webkit-box-shadow: none; }
  .alert.alert-info, .validation-summary-errors ul li.alert-info {
    background-color: #B3E5FC; }

.validation-summary-errors ul {
  padding: 0;
  list-style: none; }
  .validation-summary-errors ul li {
    position: relative;
    padding: 4px 8px 4px 35px;
    color: #fff;
    background-color: #D32F2F; }
    .validation-summary-errors ul li:before {
      position: absolute;
      font-size: 20px;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 8px;
      margin-top: -10px;
      content: ""; }

.field-validation-valid:empty {
  display: none; }

.v-space {
  clear: both;
  height: 20px; }

.card, .content-text, .content-wrap .content {
  padding: 8px 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 2px; }
  .card > h3:first-child, .content-text > h3:first-child, .content-wrap .content > h3:first-child {
    margin-top: 0; }
  .card.card--transparent, .card--transparent.content-text, .content-wrap .card--transparent.content {
    background: transparent; }

.cards-group {
  margin-top: 25px;
  margin-bottom: 25px; }
  .cards-group .card, .cards-group .content-text, .cards-group .content-wrap .content, .content-wrap .cards-group .content {
    margin-bottom: 20px; }

.panel.panel-primary {
  border: 0;
  margin-bottom: 15px;
  border-radius: 2px; }
  .panel.panel-primary.panel-open .panel-heading {
    border-radius: 2px 2px 0 0; }
  .panel.panel-primary .panel-heading {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-image: none;
    border-radius: 2px 2px 0 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.9); }
    .panel.panel-primary .panel-heading b {
      font-weight: normal;
      color: #fff; }
    .panel.panel-primary .panel-heading.clickable {
      cursor: pointer;
      -webkit-transition-duration: 150ms;
      -moz-transition-duration: 150ms;
      transition-duration: 150ms;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
      .panel.panel-primary .panel-heading.clickable:hover {
        background-color: #e56e0e; }
    .panel.panel-primary .panel-heading i {
      font-size: 21px;
      cursor: pointer;
      padding: 5px;
      margin: -5px;
      border-radius: 50%;
      -webkit-transition-duration: 150ms;
      -moz-transition-duration: 150ms;
      transition-duration: 150ms;
      -webkit-transition-property: background-color;
      -moz-transition-property: background-color;
      transition-property: background-color; }
      .panel.panel-primary .panel-heading i:hover {
        background-color: rgba(0, 0, 0, 0.2); }
  .panel.panel-primary .table-wrap {
    overflow-x: auto; }
  .panel.panel-primary.panel-togglable .panel-heading {
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    .panel.panel-primary.panel-togglable .panel-heading:before {
      float: right;
      line-height: 20px !important;
      font-size: 18px !important;
      content: ""; }
    .panel.panel-primary.panel-togglable .panel-heading:hover {
      cursor: pointer; }
  .panel.panel-primary.panel-togglable.panel-togglable-closed .panel-heading:before {
    content: ""; }
  .panel.panel-primary table.table {
    width: 100.12%; }

.material-list, ul.material-list-variant {
  list-style: none;
  margin: 0;
  padding: 4px 0; }
  .material-list li, ul.material-list-variant li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 18px; }
    .material-list li a, ul.material-list-variant li a, .material-list li span, ul.material-list-variant li span {
      display: block;
      color: inherit;
      text-decoration: none;
      line-height: 18px;
      margin: 0;
      padding: 6px 18px;
      -webkit-transition-duration: 150ms;
      -moz-transition-duration: 150ms;
      transition-duration: 150ms;
      border-radius: 1px; }
      .material-list li a i.mdi, ul.material-list-variant li a i.mdi, .material-list li a .panel.panel-primary.panel-togglable i.panel-heading:before, .panel.panel-primary.panel-togglable .material-list li a i.panel-heading:before, ul.material-list-variant li a .panel.panel-primary.panel-togglable i.panel-heading:before, .panel.panel-primary.panel-togglable ul.material-list-variant li a i.panel-heading:before, .material-list li span i.mdi, ul.material-list-variant li span i.mdi, .material-list li span .panel.panel-primary.panel-togglable i.panel-heading:before, .panel.panel-primary.panel-togglable .material-list li span i.panel-heading:before, ul.material-list-variant li span .panel.panel-primary.panel-togglable i.panel-heading:before, .panel.panel-primary.panel-togglable ul.material-list-variant li span i.panel-heading:before {
        vertical-align: middle;
        font-size: 1.2em;
        margin-right: 5px; }
      .material-list li a:hover, ul.material-list-variant li a:hover, .material-list li span:hover, ul.material-list-variant li span:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.1); }
  .material-list.material-list--light li a, ul.material-list--light.material-list-variant li a {
    color: #eee; }
    .material-list.material-list--light li a:hover, ul.material-list--light.material-list-variant li a:hover {
      background-color: rgba(255, 255, 255, 0.2); }

ul.material-list-variant li a:hover, ul.material-list-variant li a.active {
  background-color: transparent; }

.nav-tabs {
  position: relative;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.3), 0 -1px 4px -2px rgba(0, 0, 0, 0.3);
  border-bottom: 0; }
  .nav-tabs li {
    margin-bottom: 0; }
    .nav-tabs li a {
      padding-bottom: 8px;
      margin-right: 0;
      border-radius: 0;
      -webkit-transition-duration: 150ms;
      -moz-transition-duration: 150ms;
      transition-duration: 150ms; }
      .nav-tabs li a, .nav-tabs li a:hover {
        border-left: 0 !important;
        border-top: 0 !important;
        border-right: 0 !important;
        border-bottom: 2px solid transparent; }
    .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
      font-weight: bold;
      border-bottom: 2px solid #D11318; }

.tab-content {
  padding: 10px 15px;
  background-color: #eee;
  border-radius: 0 0 2px 2px; }

.content-text {
  background: #fff;
  height: auto;
  padding: 15px 20px; }
  .content-text > h2:first-child, .content-text > h3:first-child, .content-text > h4:first-child {
    margin-top: 0; }
  .content-text p {
    text-align: justify; }

.h2-ghost {
  clear: both;
  height: 30px; }

.form-compact .form-group {
  margin-bottom: 2px; }

.control-raw {
  padding-top: 7px; }

.form-group.required label:after {
  width: 8px;
  font-size: 8px;
  line-height: 8px;
  margin-right: -11px;
  margin-left: 3px;
  color: #D11318;
  vertical-align: top;
  margin-top: 2px;
  content: ""; }

.input-file .btn-file {
  width: 100px;
  position: relative;
  overflow: hidden; }
  .input-file .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 0;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }

.input-file input[type=text] {
  min-width: 0;
  width: 281px; }

.text {
  padding: 10px 15px; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.no-top-margin {
  margin-top: 0; }

.no-bottom-margin {
  margin-bottom: 0; }

.vertical-align-middle {
  vertical-align: middle !important; }

.datepicker .dow {
  cursor: default; }

.datepicker .day {
  cursor: pointer;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  transition-duration: 200ms; }
  .datepicker .day:hover {
    background-color: rgba(0, 0, 0, 0.08); }

.datepicker .table-condensed {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .datepicker .table-condensed th {
    padding-top: 0;
    padding-bottom: 0; }
  .datepicker .table-condensed th, .datepicker .table-condensed td {
    transition-duration: 200ms;
    transition-property: background; }

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  color: #ccc; }

.control-value {
  position: relative; }
  .control-value .datepicker {
    padding-left: 28px; }
    .control-value .datepicker:hover + .mdi-calendar, .control-value .datepicker:active + .mdi-calendar, .control-value .datepicker:focus + .mdi-calendar {
      opacity: 0.8; }
  .control-value .mdi-calendar {
    position: absolute;
    top: 9px;
    left: 19px;
    font-size: 18px;
    opacity: 0.4;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    transition-duration: 200ms; }

.modal-content {
  border: 0;
  border-radius: 2px; }
  .modal-content .modal-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd; }

.pagination-wrap {
  text-align: center; }
  .pagination-wrap .pagination > li > a, .pagination-wrap .pagination > li > span {
    padding: 5px 11px;
    margin: 0 1px;
    border: 0;
    transition-duration: 150ms;
    border-radius: 16px;
    background-color: transparent; }
    .pagination-wrap .pagination > li > a, .pagination-wrap .pagination > li > a:hover, .pagination-wrap .pagination > li > a:focus, .pagination-wrap .pagination > li > span, .pagination-wrap .pagination > li > span:hover, .pagination-wrap .pagination > li > span:focus {
      color: #999999; }
  .pagination-wrap .pagination > li > a:hover {
    background-color: rgba(0, 0, 0, 0.07); }
  .pagination-wrap .pagination > li:first-child > a, .pagination-wrap .pagination > li:first-child > span {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px; }
  .pagination-wrap .pagination > li:last-child > a, .pagination-wrap .pagination > li:last-child > span {
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px; }
  .pagination-wrap .pagination > .disabled {
    opacity: 0.7; }
    .pagination-wrap .pagination > .disabled > span, .pagination-wrap .pagination > .disabled > span:hover, .pagination-wrap .pagination > .disabled > span:focus, .pagination-wrap .pagination > .disabled > a, .pagination-wrap .pagination > .disabled > a:hover, .pagination-wrap .pagination > .disabled > a:focus {
      cursor: default;
      background: transparent; }
  .pagination-wrap .pagination > .active > span, .pagination-wrap .pagination > .active > a {
    background-color: #616161; }
    .pagination-wrap .pagination > .active > span:hover, .pagination-wrap .pagination > .active > span:focus, .pagination-wrap .pagination > .active > a:hover, .pagination-wrap .pagination > .active > a:focus {
      background-color: #545454; }
    .pagination-wrap .pagination > .active > span, .pagination-wrap .pagination > .active > span:hover, .pagination-wrap .pagination > .active > span:focus, .pagination-wrap .pagination > .active > a, .pagination-wrap .pagination > .active > a:hover, .pagination-wrap .pagination > .active > a:focus {
      color: #ffffff; }

.debug, .bs-callout.debug {
  background: #002B36;
  color: rgba(255, 255, 255, 0.9);
  border-color: #FF5722;
  font-family: monospace; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 50%; }
  .dl-horizontal dd {
    margin-left: calc(50% + 30px); } }

.visually-hidden {
  visibility: hidden; }

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: #004391;
  background: #fff;
  border-radius: 2px; }

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code {
  border-radius: 3px; }

.bs-callout + .bs-callout {
  margin-top: -5px; }

.bs-callout-default {
  background: #777;
  color: #777; }

.bs-callout-default h4 {
  color: #777; }

.bs-callout-primary {
  background: #428bca;
  color: #ffffff; }

.bs-callout-primary h4 {
  color: #ffffff; }

.bs-callout-success {
  background: #5cb85c;
  color: #ffffff; }

.bs-callout-success h4 {
  color: #ffffff; }

.bs-callout-danger {
  background: #d9534f;
  color: #ffffff; }

.bs-callout-danger h4 {
  color: #ffffff; }

.bs-callout-error {
  background: #d9534f;
  color: #ffffff; }

.bs-callout-error h4 {
  color: #ffffff; }

.bs-callout-warning {
  background: #f0ad4e;
  color: #ffffff; }

.bs-callout-warning h4 {
  color: #ffffff; }

.bs-callout-info {
  background: #5bc0de;
  color: #ffffff; }

.bs-callout-info h4 {
  color: #ffffff; }

/**
 * Loading overlay
 * Inspired by https://ihatetomatoes.net/demos/css3-preloader-transition/
 */
body .not-loader {
  -webkit-transition-duration: 1500ms;
  -moz-transition-duration: 1500ms;
  transition-duration: 1500ms;
  -webkit-transition-property: opacity, -webkit-filter, filter;
  -moz-transition-property: opacity, -webkit-filter, filter;
  transition-property: opacity, -webkit-filter, filter;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

body.loading .not-loader {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

#loader-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  -webkit-transition-duration: 1500ms;
  -moz-transition-duration: 1500ms;
  transition-duration: 1500ms;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

#loader {
  display: none;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db; }

body.loading #loader-wrapper {
  display: block;
  opacity: 1; }

body.loading #loader {
  display: block;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001; }

body.loading #loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

body.loading #loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

body.loading #loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */ }

body.loading #loader-wrapper .loader-section.section-left {
  left: 0; }

body.loading #loader-wrapper .loader-section.section-right {
  right: 0; }

.not-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-image: url("../img/Zimmer_Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

.content-wrap {
  margin-top: 50px; }
  .content-wrap h1, .content-wrap h2 {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-weight: 300; }
  .content-wrap h1 {
    margin-bottom: 30px;
    font-size: 60px; }
    .content-wrap h1 span {
      font-size: 0.7em; }
  .content-wrap h2 {
    font-size: 40px; }
  .content-wrap h3 {
    margin-top: 0;
    color: #333; }
  .content-wrap .content-box {
    max-width: 100%;
    width: 400px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; }
    .content-wrap .content-box.wide {
      width: 1000px; }
    .content-wrap .content-box.medium {
      width: 800px; }
  .content-wrap .content {
    padding: 15px 15px 10px 15px;
    background-color: #ffffff;
    border-radius: 2px 2px 1px 1px;
    border-top: 2px solid #0083C0; }
    .content-wrap .content button, .content-wrap .content a.btn {
      min-width: 0;
      margin-bottom: 5px;
      margin-top: 5px; }
    .content-wrap .content .form-control {
      min-width: 0;
      width: 100%; }
    .content-wrap .content .input-group {
      margin-bottom: 5px; }
  .content-wrap hr {
    margin: 10px 0; }

.cgu {
  max-height: 300px;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.05); }

